<%- include("./layouts/header"); -%>
<body>
  <div class="container card text-center">
    <img src="https://static1.squarespace.com/static/5c470f01697a9873eb02abb8/t/5c47125c4d7a9ccfd0d9864c/1605908373852/?format=1500w" style="margin-bottom: 20px">
    <form action="/login" method="POST">
      <h1 class="fw-bold mb-0">Welcome</h1>

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">@</span>
        <input type="text" class="form-control" placeholder="Username" name="username" aria-label="Username" aria-describedby="basic-addon1">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="addon-wrapping">*</span>
          <input type="password" id="password" class="form-control" placeholder="Password" name="password"/>
      </div>

      <button class="btn btn-primary btn-lg btn-rounded gradient-custom text-body px-5" type="submit">Login</button>
    </form>
    <div>
        <p class="mb-0">Don't have an account? <a href="/register" class="text-body fw-bold">Sign Up</a></p>
    </div>  
  </div>
</body>
</html>