<%- include("./layouts/header"); -%>
<body>
    <div class="text-center">
        <h1>Hey <%= name %>, Now the fun begins!</h1>
        <h6>You have successfully created an account</h6>
        <a href="/login">Click here to login</a>
    </div>
</body>
</html>